[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
instaloader = "*"
bs4 = "*"
requests = "*"
urllib3 = "*"
celery = "*"
schedule = "*"
psycopg2 = "*"
task = "*"
utils = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.8"
